<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ddit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- jsp 파일내에 공통으로 포함될 선언 및 설정 -->
  <!-- include-prelude : 대상 jsp 파일의 선두에 컨텐츠를 포함 -->
  <!-- include-coda : 대상 jsp 파일의 말미에 컨텐츠를 포함 -->
  <jsp-config>
  	<jsp-property-group>
		<description>해당 선언 또는 설정의 정의</description>
		<url-pattern>/02/*</url-pattern>
		<include-prelude>/02/commonHeader.jspf</include-prelude>
  	</jsp-property-group>
  </jsp-config>
  
  <!-- 해당 웹 어플리케이션 내에 전역적으로 활용될수있는 상수 선언 -->
  <context-param>
  	<param-name>oracleDriver</param-name>
  	<param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  
  <context-param>
  	<param-name>oracleURL</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  
  <context-param>
  	<param-name>mysqlDriver</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  
  <context-param>
  	<param-name>mysqlURL</param-name>
  	<param-value>jdbc:mysql://ip address:3306/ddit?useUnicode=true&amp;characterEncoding=euc-kr</param-value>
  </context-param>
  
  <!-- 
  	에러처리 우선순위 : 1. jsp내에서 디렉티비에 선언된 에러처리
  						2. web.xml내에서 선언된 exception-type
  						3. web.xml내에서 선언된 error-code(활용)
   -->
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>	
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/error/error500.jsp</location>
  </error-page>
  
  <!-- 
  	분단위의 세션 유효시간 설정. 
  	세션 유효시간 설정시의 우선순위 : 1.jsp에서 설정한 setMaxInactiveInterval()시간
  								2.web.xml내에서 선언된 session-timeout 시간
  -->
  <session-config>
  	<session-timeout>60</session-timeout>
  </session-config>
  
  
  
  
  
  
  
</web-app>